.nako3result {
	background-color: #f0fff0; padding:8px;
	font-size: 16px;
	line-height: 1.4em;
}
.nako3error {
	background-color: #fff0f0; padding:8px; color: #904040;
	font-size:1em; border:1px solid #a0a0ff; margin:4px;
}
.nako3info {
	background-color: #f0f0ff; padding:8px; color: #404090;
	font-size:1em; border:1px solid #a0a0ff; margin:4px;
}
.footer {
	font-size:smaller; color:gray;
	margin: 0 10px;
}
button {
	padding: 5px 20px;
	margin: 0 10px;
}
.flexbox {
	display: flex;
	flex-wrap: wrap;
}
.main {
	width: 50%;
	padding: 0px 10px;
	/* background-color: #f0f0ff; */
}
.sub {
	width: 45%;
	padding: 0px 10px;
	/* background-color: #fff0ff; */
}
.btnsub {
	width: 95%;
	padding: 0px 10px;
	/* background-color: #f0ffff; */
}
.btnsub_flex {
	display: flex;
	flex-wrap: wrap;
}
@media screen and (max-width: 830px) {
	.flexbox {
		display: block;
	}
	.flexbox .main {
		width: 95%;
		padding: 0px 15px;
	}
	.flexbox .sub {
		width: 95%;
		padding: 0px 15px;
	}
}
img {
	max-width: 160px;
	max-height: 160px
}
video {
	max-width: 320px;
	max-height: 320px
}
.btnarea {
	background-color: #f0f0ff; padding:8px;
}
.btnarea2 {
	background-color: #ffffe0; padding:8px;
}
.btnarea3 {
	background-color: #e0ffff; padding:8px;
}

.m_modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 9998;

  opacity: 0;
  /* visibility: hidden; */
  display: none;
  transition: 0.6s;
}

.m_modal_bk {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  width: 60%;
  top: 100px;
  border-radius: 20px;
  /* overflow-y:scroll; */
  transform: translate(-50%, 0);
  
  color: #555;
  margin: 0 auto;
  z-index: 9999;

  opacity: 0;
  /* visibility: hidden; */
  display: none;
  transition: 0.6s;
}
.is-show {
  opacity: 1;
  /* visibility: visible; */
  display: block;
}

.m_markdown pre {
  margin: 1em 0;
  padding: 1em;
  line-height: 1.25;
  border-radius: 5px;
  background: #25292f;
  color: #fff;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.m_markdown p code {
  display: inline-block;
  padding: 0.2em; /* 文字周りの余白 */
  color: #444; /* 文字色 */
  background-color: #e7edf3; /* 背景色 */
  border-radius: 3px; /* 角丸 */
  border: solid 1px #d6dde4; /* 枠線 */
}

table {
  border-collapse: collapse;
}
table th, table td {
  border: solid 1px gray;  /*実線 1px 灰色*/
  padding: 3px 10px;       /*上下3pxで左右10px*/
  
}

@font-face {
  font-family: 'mymono';
  src: url('./PlemolJP-Medium.ttf') format('truetype');
  src: url('./ipag.ttf') format('truetype');
  font-weight: bold;
}

.CodeMirror {
    font-feature-settings: "palt" 0;
    font-family: 'mymono', 'Liberation Serif','Noto Sans CJK JP', Consolas, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Noto Sans JP', Monospace, monospace;
    font-size: 13pt;
    border: 2px solid black;
    line-height: 1.24em;
}

audio {
    controlslist: nodownload;
}

